.transactions-create__container {
    text-align: center;
}

.transactions-create__form {
    display: inline-block;
    width: 400px;
    margin-top: 5%;
}

.transactions-create__form__row {
    padding: 10px;
    text-align: left;
}

.transactions-create--error {
    color: crimson;
}